@import url('https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gudea";
}

main{
  width: 100%;
}

.page-header {
  background-color: red; /* Red background */
  width: 100%; /* Full width */
  height: 60px;
}